<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head">
    <meta charset="UTF-8">
    <title>MADHAX Software</title>
</head>
<body>
<div id="container">
    <div th:replace="fragments/header.html :: header"></div>
    <div id="mainContainer">
        <div id="mainContent">
            <h2 th:text="${project.name}"></h2>
            <p th:text="${project.description}"></p>
            <b>Repository: </b><a target="new" th:href="${project.gitHubURL}" th:text="${project.gitHubURL}"></a>
            <h3 style="color:darkorange;">Features</h3>
            <ul>
                <li th:each="feature : ${project.features}">
                    <span style="font-weight:bold;" th:text="${feature.title}"></span>
                    <ul>
                        <li style="list-style: none;" th:text="${feature.body}">Body</li>
                    </ul>
                </li>
            </ul>
            <h3 style="color:darkorange;" th:if="${not project.issues.isEmpty()}">Known Issues</h3>
            <ol>
                <li th:each="issue : ${project.issues}">
                    <span style="font-weight:bold;" th:text="${issue.title}"></span>
                    <ul>
                        <li style="list-style: none;" th:text="${issue.body}"></li>
                    </ul>
                </li>
            </ol>
            <h3 style="color:darkorange;">Development Log</h3>
            <ul>
                <li th:each="log : ${project.devMessages}">
                    <span style="font-weight:bold;" th:text="${log.title}"></span>
                    <ul>
                        <li style="list-style: none;" th:text="${log.message}"></li>
                    </ul>
                </li>
            </ul>
        </div><!-- end mainContent -->
    </div><!-- end mainContainer-->
    <div th:replace="fragments/footer.html :: footer"></div>
</div><!-- end container -->
</body>
</html>