<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head">
    <meta charset="UTF-8">
    <title>MADHAX Software</title>
</head>
<body>
<div id="container">
    <div th:replace="fragments/header.html :: header"></div>
    <div id="mainContainer">
        <div id="mainContent">
            <h2>Software</h2>
            <span th:each="project : ${projects}">
            <div class="projectList">
                <div class="projectListTitle">
                    <a th:href="'/software/' + ${project.id}"><span style="color:orange;" th:text="${project.name}">Project Title</span></a>
                    <span style="font-style:italic;" th:text="${project.version}"></span>
                </div>
                <div class="projectListBody">
                    <span th:text="${project.description}">Project body.</span>
                    <ul>
                        <li th:each="feature : ${project.features}"><span th:text="${feature.title}"></span></li>
                    </ul>
                    <a style="float:right; clear:both; margin-right:40px;" th:href="'/software/' + ${project.id}">Project page</a>
                    <div class="clr"></div>
                </div>
            </div>
        </span>
        </div><!-- end mainContent -->
    </div><!-- end mainContainer-->
    <div th:replace="fragments/footer.html :: footer"></div>
</div><!-- end container -->
</body>
</html>