<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head">
    <meta charset="UTF-8">
    <title>MADHAX Software</title>
</head>
<body>
<div id="container">
    <div th:replace="fragments/header.html :: header"></div>
    <div id="mainContainer">
        <div id="mainContent">
            <h2>New Project</h2>
            <form th:action="@{/project/save}" th:object="${project}" method="post">
                <input type="text" name="projectName" th:field="*{name}" placeholder="Project Name"/><br />
                <input type="text" name="projectRepo" th:field="*{repositoryURL}" placeholder="Repository URL"/><br />
                <textarea type="text" name="projectDescription" th:field="*{description}" placeholder="Project description."></textarea><br />
                <input th:if="${project.id > 0}" type="hidden" name="projectId" th:field="*{id}" />
                <input type="submit" name="submit" th:value="submit" />
            </form>
        </div><!-- end mainContent -->
    </div><!-- end mainContainer-->
    <div th:replace="fragments/footer.html :: footer"></div>
</div><!-- end container -->
</body>
</html>