<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head">
    <meta charset="UTF-8">
    <title>MADHAX Software</title>
</head>
<body>
<div id="container">
    <div th:replace="fragments/header.html :: header"></div>
    <div id="mainContainer">
        <div id="mainContent">
            <h2 th:text="${project.name}"></h2>
            <p th:text="${project.description}"></p>
            <b>Repository: </b><a target="new" th:href="${project.repositoryURL}" th:text="${project.repositoryURL}"></a>
            <h3 style="color:darkorange;" th:if="${not project.features.isEmpty()}">Features</h3>
            <a class="add" style="font-size:1em;" th:href="@{/project/{projectId}/feature/new(projectId=${project.id})}">+ New Feature</a>
            <ul th:if="${not project.features.isEmpty()}">
                <li th:each="feature : ${project.features}">
                    <span style="font-weight:bold;" th:text="${feature.title}"></span>
                    <ul>
                        <li style="list-style: none;">
                            <span th:text="${feature.body}"></span>
                            <a th:href="@{/project/{projectId}/feature/{featureId}/edit(projectId=${feature.project.id}, featureId=${feature.id})}">Edit</a>
                            |
                            <a th:href="@{/project/{projectId}/feature/{featureId}/delete(projectId=${feature.project.id}, featureId=${feature.id})}">Delete</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <h3 style="color:darkorange;" th:if="${not project.issues.isEmpty()}">Known Issues</h3>
            <a class="add" style="font-size:1em;" th:href="@{/project/{projectId}/issue/new(projectId=${project.id})}">+ New Issue</a>
            <ol th:if="${not project.issues.isEmpty()}">
                <li th:each="issue : ${project.issues}">
                    <span style="font-weight:bold;" th:text="${issue.title}"></span>
                    <ul>
                        <li style="list-style: none;">
                            <span th:text="${issue.message}"></span>
                            <a th:href="@{/project/{projectId}/issue/{issueId}/edit(projectId=${issue.project.id}, issueId=${issue.id})}">
                                Edit
                            </a>
                            |
                            <a th:href="@{/project/{projectId}/issue/{issueId}/delete(projectId=${issue.project.id}, issueId=${issue.id})}">
                                Delete
                            </a>
                        </li>
                    </ul>
                </li>
            </ol>
            <h3 style="color:darkorange;" th:if="${not project.notes.isEmpty()}">Development Log</h3>
            <a class="add" style="font-size:1em;" th:href="@{/project/{projectId}/note/new(projectId=${project.id})}">+ New Note</a>
            <ul>
                <li th:each="note : ${project.notes}">
                    <span style="font-weight:bold;" th:text="${note.title}"></span>
                    <ul>
                        <li style="list-style: none;">
                            <span th:text="${note.message}"></span>
                            <a th:href="@{/project/{projectId}/note/{noteId}/edit(projectId=${project.id}, noteId=${note.id})}">Edit</a> |
                            <a th:href="@{/project/{projectId}/note/{noteId}/delete(projectId=${project.id}, noteId=${note.id})}">Delete</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- end mainContent -->
    </div><!-- end mainContainer-->
    <div th:replace="fragments/footer.html :: footer"></div>
</div><!-- end container -->
</body>
</html>