<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MAD HAX</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css} "/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/formatting.css} "/>
    <script async th:src="@{/js/NavMenu.js}"></script>
    <script src='http://cloud.tinymce.com/5-testing/tinymce.min.js'></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'codesample code image link',
            toolbar: 'bold italic underline | alignleft alighcenter alignright | bullist numlist outdent indent | codesample | link image code'
        });
    </script>
</head>
<body>
<div id="container">
    <div th:replace="fragments/header.html :: header"></div>
    <div id="main">
        <form action="#" th:action="@{/article/add}" th:object="${article}" method="post">
            <p>Subject: <input type="text" th:field="*{title}" /></p>
            <p>Content: <textarea type="text" th:field="*{body}" /></p>
            <p><input type="submit" value="Submit" /></p>
        </form>
    </div><!-- end main -->
    <div th:replace="fragments/footer.html :: footer"></div>
</div><!-- end container -->
</body>
</html>