<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head">
    <meta charset="UTF-8">
    <title>MADHAX Software</title>
</head>
<body>
<div id="container">
    <div th:replace="fragments/header.html :: header"></div>
    <div id="mainContainer">
        <div id="mainContent">
            <!--/*@thymesVar id="feature" type="com.madhax.website.domain.Feature"*/-->
            <h2>Delete Feature</h2>
            <p>Are you sure you want to permanently delete the feature: <span th:text="${feature.title}"></span></p>
            <form th:action="@{/project/{projectId}/feature/delete(projectId=${feature.getProject().id})}" method="post">
                <input type="submit" name="submit" value="Yes, delete project" />
                <input type="hidden" name="featureId" th:value="${feature.id}" />
            </form>
        </div><!-- end mainContent -->
    </div><!-- end mainContainer-->
    <div th:replace="fragments/footer.html :: footer"></div>
</div><!-- end container -->
</body>
</html>