<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head">
    <meta charset="UTF-8">
    <title>MADHAX Software</title>
</head>
<body>
<div id="container">
    <div th:replace="fragments/header.html :: header"></div>
    <div id="mainContainer">
        <div id="mainContent">
            <h2>Delete Note</h2>
            <p>Are you sure you want to permanently delete the note: <span th:text="${note.title}"></span>?</p>
            <form th:action="@{/project/note/delete/{projectId}(projectId=${note.getProject().getId()})}" method="post">
                <input type="submit" name="submit" value="Yes, delete note" />
                <input type="hidden" name="issueId" th:value="${note.id}" />
            </form>
        </div><!-- end mainContent -->
    </div><!-- end mainContainer-->
    <div th:replace="fragments/footer.html :: footer"></div>
</div><!-- end container -->
</body>
</html>