<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head">
    <meta charset="UTF-8">
    <title>MADHAX Software</title>
</head>
<body>
<div id="container">
    <div th:replace="fragments/header.html :: header"></div>
    <div id="mainContainer">
        <div id="mainContent">
            <h2>Add Development Message</h2>
            <form th:action="@{note?.id > 0}
            ? @{/project/{projectId}/note/edit(projectId=${note.project.id})}
            : @{/project/{projectId}/note/new(projectId=${projectId})}" th:object="${note}" method="post">
                <input type="text" name="NoteName" th:field="*{title}" placeholder="Note Name"/><br />
                <textarea type="text" name="NoteMessage" th:field="*{message}" placeholder="Note Message."></textarea><br />
                <input th:if="${note.id > 0}" type="hidden" name="noteId" th:field="*{id}" />
                <input th:if="${note.project?.id > 0}" type="hidden" th:field="*{project}" />
                <input type="submit" name="submit" th:value="submit" />
            </form>
        </div><!-- end mainContent -->
    </div><!-- end mainContainer-->
    <div th:replace="fragments/footer.html :: footer"></div>
</div><!-- end container -->
</body>
</html>