<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head">
    <title>MADHAX Software</title>
</head>
<body>
<div id="container">
    <div th:replace="fragments/header.html :: header"></div>
    <div id="main">
        <h2>Add User</h2>
        <form action="#" th:action="@{/users/add}" th:object="${user}" method="post">
            <div style="width:260px; margin:0 auto;">
                <div style="text-align: right; float:left;">
                    Username:<br />
                    Password:<br />
                    First name:<br />
                    Last name:<br />
                    Role: <br />
                </div>
                <div style="text-align: left; float:right;">
                    <input type="text" th:field="*{username}" /><br />
                    <input type="password" th:field="*{password}" /><br />
                    <input type="text" th:field="*{firstName}" /><br />
                    <input type="text" th:field="*{lastName}" /><br />
                    <input type="text" th:field="*{role}" /><br />
                    <input type="submit" value="Submit" />
                </div>
            </div>
        </form>
        <div class="clr"></div>
    </div><!-- end main -->
<div th:replace="fragments/footer.html :: footer"></div>
</div><!-- end container -->
</body>
</html>