<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head">
    <title>MADHAX Software</title>
</head>
<message>
<div id="container">
    <div th:replace="fragments/header.html :: header"></div>
    <div id="mainContainer">
        <h2 th:text="${user.getUsername()}"></h2>
        <p th:text="${user.getPassword()}" />
    </div><!-- end mainContainer -->
    <div th:replace="fragments/footer.html :: footer"></div>
</div><!-- end container -->
</message>
</html>