<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head">
    <title>MADHAX Software</title>
</head>
<body>
<div id="container">
    <div th:replace="fragments/header.html :: header"></div>
    <div id="mainContainer">
        <h1>Users</h1>
        <table id="userTable">
            <tr>
                <td>Username</td>
                <td>First name</td>
                <td>Last name</td>
                <td>Role</td>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.getUsername()}"></td>
                <td th:text="${user.getFirstName()}"></td>
                <td th:text="${user.getLastName()}"></td>
                <td th:text="${user.getRole()}"></td>
            </tr>
        </table>
    </div><!-- end mainContainer -->
    <div th:replace="fragments/footer.html :: footer"></div>
</div><!-- end container -->
</body>
</html>