/* HTML tags */
body {
    background-color:#000;
    font-family: sans-serif;
    padding:0;
    margin:0;
    line-height:1.75em;
}

a {
    text-decoration: none;
    color:darkorange;
    transition:0.3s;
}

a:hover {
    color:#000;
}

p {
    text-align: justify;
}

/* Layout containers & formatting */
#container {

}

#masthead {
    width:100%;
    background-color:#FFF;
    border-bottom: 1px solid #aaa;
}

#navMenu {
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:0;
    z-index: 1;
    background-color:#FFF;
    overflow-x:hidden;
    transition:0.5s;
    text-align: center;
}

#navMenu a {
    color:#000;
    font-size:2em;
    text-decoration: none;
    padding:8px;
    display:block;
    transition:0.3s;
}

#navMenu a:hover {
    color: #e59842;
}

#mainContainer {
    /*margin-top:60px;*/
    /* margin:60px auto; */
    background-color: #FFF;
    padding:40px;
    /*max-width: 1000px;*/
}

#mainContent {
    margin:0 auto;
    max-width: 1000px;
}

#footerLinks {
    background-color:#333;
    color:#555;
    padding: 20px;
    text-align:center;
}

#footerLinks a {
    color:lightblue;
    text-decoration:none;
    transition:0.3s;
}

#footerLinks a:hover {
    color:#FFF;
}

#footer {
    color: #555;
    padding:10px;
    text-align:center;
}

/* Home page formatting */
#mainHome {
    /*margin-top:60px;*/
    background-color: #FFF;
}

.mainBlockContainer {
    background-color:#FFF;
    padding:0;
    margin:0;
    clear:both;
}

.mainBlockContainer img {
    border-radius:10px;
}

.mainBlockLeft {
    padding:0;
    margin:0;
    width:50%;
    float:left;
    clear:bottom;
}

.mainBlockRight {
    padding:0;
    margin:0;
    width:50%;
    float:right;
    clear:bottom;
}

/* Project formatting */
.projectList {
    max-width:1000px;
    width: 80%;
    margin:0 auto;
}

.projectListTitle {
    padding:10px;
    color:#FFF;
    background-color:#333;
    border-radius: 10px 10px 0 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

.projectListBody {
    padding:10px;
}

/* Images & buttons */

#logoImage {
    margin-left:3em;
    height:60px;
    float:left;
}

#motoImage {
    width:100%;
    border-bottom:1px solid #aaa;
}

#openBtn {
    font-size:3em;
    margin-right:20px;
    float:right;
}

#openBtn:hover {
    cursor: pointer;
}

#closeBtn {
    font-size:3em;
    float:right;
    margin-right:20px;
}

/* Table formatting */

table {
    margin:0 auto;
}

table tr:first-child {
    background-color:#000;
    color:#FFF;
}

table td {
    padding:8px;
}

/* General formatting */

.customHeader {
    font-size:2em;
    font-weight: bold;
}

.mainPad {
    padding:40px;
}

.padLeft {
    padding:30px 0 0 30px;
}

.padRight {
    padding:30px 30px 0 0;
}

.clr {
    clear:both;
}

@media only screen and (max-device-width: 1200px ) {
    body {
        font-size:1.5em;
    }

    #closeBtn {
        font-size:5em;
    }

    #logoImage {
        height: 100px;
    }

    #navMenu a {
        font-size:3em;
        padding:8px 8px 60px 8px;
    }

    #main {
        margin-top:100px;
    }

    .mainBlockLeft {
        float:none;
        display:block;
        width:100%;
    }

    .mainBlockRight {
        float:none;
        display:block;
        width:100%;
    }

    .padLeft {
        padding:0;
    }

    .padRight {
        padding:0;
    }
}