<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head">
    <title>MADHAX Software</title>
</head>
<body>
<div id="container">
    <div th:replace="fragments/header.html :: header"></div>
    <div id="mainContainer">
        <h2>Login</h2>
        <div style="width:200px; margin:0 auto; text-align:center; border:1px solid lightseagreen; border-radius:10px 10px 10px 10px;">
            <div style="background-color:lightskyblue; border-radius:10px 10px 0 0; text-align:center; border-bottom:1px solid lightseagreen;">
                Sign in below
            </div>
            <br />
            <form th:action="@{/login}" method="POST">
                <input type="text" name="username" id="username" /><br />
                <input type="password" name="password" id="password" /><br />
                <input type="submit" name="submit" value="Login" />
            </form>
        </div>
    </div><!-- end mainContainer -->
    <div th:replace="fragments/footer.html :: footer"></div>
</div><!-- end container -->
</body>
</html>